/* Toast.css */
.toastx {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in-out 2s ease forwards;
}

.toastx-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-close {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.green {
  background-color: #28a745;
}

.red {
  background-color: #dc3545;
}

.yellow {
  background-color: #ffc107;
  color: black; /* because white text on yellow is hard to read */
}

.blue {
  background-color: #0d6efd;
}

/* Fade-in and fade-out animation */
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
